***** i3 :
	You can install i3 and i3-gaps using the provided script next to this file.

***** Terminal transparency : (compton)
	sudo apt install compton

***** FONTS :
	You will need to download the lastest version of these fonts on git:
		https://github.com/FortAwesome/Font-Awesome/releases
	And put the *.ttf files in "~/fonts/" .
	
	Here is a useful cheatsheet to find some symbols to use :
		https://fontawesome.com/v5/cheatsheet/free/brands

****** Setting wallpaper :
Use feh ;
	sudo apt install feh
Use this command to set wallpaper:
	feh --bg-scale <your wall paper>

****** System appearance :
Use lxappearance :
	sudo apt install lxappearance
Launch it and modify your syst as you want (with a GUI)
